<object id="swfclip{{ media.asset_id }}" width="{{ media.width }}" height="{{ media.height }}" allowfullscreen="true" base="." classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param value="http://www.thenewsroom.com/mash/swf/cube.swf?a={{ media.asset_id }}&m={{ media.layout_id }}&w={{ media.width }}&h={{ media.height }}&v=1&hostName=washingtontimes.com&isScriptEmbed=true&fromSite='http://washingtontimes.com{{ request.path }}'" name="movie"/>
<param value="." name="base"/>
<param value="always" name="allowScriptAccess"/>
<param value="true" name="allowFullScreen"/>
<param value="transparent" name="wmode"/>
<embed width="{{ media.width }}" height="{{ media.height }}" name="swfclip{{ media.asset_id }}" allowfullscreen="true" allowscriptaccess="always" base="." type="application/x-shockwave-flash" src="http://www.thenewsroom.com/mash/swf/cube.swf?a={{ media.asset_id }}&m={{ media.layout_id }}&w={{ media.width }}&h={{ media.height }}&v=1&hostName=washingtontimes.com&isScriptEmbed=true&fromSite='http://washingtontimes.com{{ request.path }}'" style="width: {{ media.width }}px; height: {{ media.height }}px;"/>
</object>
